<h1><%= @trip.name %></h1>

<br/>
<% @trip.locations.each do |location| %>
  <div>
    <h3><%= link_to location.name, [@trip, location] %></h3>
  </div>
<% end %>
<br/>
<br/>

<%= link_to 'Add Location', trip_locations_path(@trip) %>