<h1> Locations </h1>

<% @trip.locations.each do |location| %>
  <div>
    <h3><%= link_to location.name, [@trip, location] %></h3>
  </div>
<% end %>
<br/>
<br/>

<%= link_to 'New Location', new_trip_location_path(@trip), class: "ui purple button"  %>

<%= link_to 'Back', trip_path(@trip), class: "ui blue button" %>